@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Rubik+Glitch+Pop&display=swap');

@font-face {
  font-family: Museo;
  src: url('./webfont/MuseoSansRounded300.otf');
}

@font-face {
  font-family: PointPanther;
  src: url('./webfont/PointpantherdemoBold-X32lP.otf');
}

@font-face {
  font-family: OliveFont;
  src: url('./webfont/OliveVillage-Regular.otf');
}

@font-face {
  font-family: Headings;
  src: url('./webfont/MuseoSansRounded700.otf');
}

:root{
  --primary-bg: #161616;
  --secondary-bg: #161616;
  --tertiary-bg: rgb(255, 204, 0);
  --important-text: rgba(255, 255, 255, 100%);
  --normal-text: rgba(255, 255, 255, 80%);
  --icon-text: rgba(255, 255, 255, 60%);
  --theme-text: #000000;
  --reverse-theme-bg: #ffffff;
  --important-text-size: 1rem;
  --big-text-font: BigText;
}

[data-theme="light"]{
  --primary-bg: #f2f2f2;
  --secondary-bg: #ffffff;
}
hr {
  background: var(--icon-text);
  color: var(--icon-text);
}
html{
  height:100%;
}
body{
  min-height:100%;
  background:var(--primary-bg)
}
button:hover {
  opacity:0.7;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10rem;
}

/* Track */
::-webkit-scrollbar-track {
  background:#121212;
  padding:1% 2%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
  width: 20px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Headings, 'sans-serif';
}

h1, h2, h3 {
  color: var(--important-text);
}
h4, h5, h6 {
  color: var(--normal-text);
}
p, i, span{
  color: var(--icon-text)
}
.fa-verified{
  color: var(--tertiary-bg);
}
.tertiary-text{
  color: var(--tertiary-bg)
}

/* Necessaries and Parents Class */

Link {
  text-decoration: none;
  color: inherit;
}
Link:visited {
  color: inherit;
}
body {
  margin: 0;
  font-family: Museo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.beside_icon {
  margin-right: 5%;
  color: var(--icon-text);
}
html, body {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  overflow-x: hidden;
}
a {
  -webkit-tap-highlight-color: transparent;
  color:inherit;
  text-decoration: none;
}
p {
  font-weight: 600;
}
button{
  background:var(--tertiary-bg);
  border:none;
  padding:5% 10%;
  color: #161616;
  font-weight: bold;
  border-radius:0.3rem;
  font-family: Museo, sans-serif;
}

.flex{
  display: flex;
}
.centralized{
  align-items: center;
  justify-content: center;
}
.centralized-v{
  align-items: center;
}
.centralized-h{
  justify-content: center;
}

/* Header */
header{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1000;
  padding: 25px 0;
}
.active-nav{
  border-bottom: 2px solid var(--tertiary-bg);
  color: var(--tertiary-bg);
  font-weight: 500;
}
.app-logo{
  width:70px;
}
.app-logo img{
  width:50px;
  height:50px;
  margin-right:5%;
}
.navigations{
  width:50%;
  justify-content: space-evenly;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 40px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0;
}
.glass{
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navigations p {
  padding: 20px 0;
  font-size: 15px;
  font-weight: 300;
}

/* Others */
.hero {
  width:100%;
  padding:0 10%;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.hero::before{
  content: '';
  background: url("/public/colorful.jpg");
  background-size: cover;
  /* filter: blur(6px); */
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.breadcrumb-area{
  width:100%;
  padding:0 10%;
}
.banner{
  height:30rem;
  margin:3.5rem 0;
  justify-content: center;
  gap:100px;
}
.banner-text{
  width:100%;
  font-family: OliveFont, sans-serif;
}
.banner-text h1{
  color:var(--tertiary-bg);
  line-height:60px;
  font-family: OliveFont, sans-serif;
}
.banner-text h4{
  text-transform: capitalize;
  font-family: OliveFont, sans-serif;
}
.banner-img{
  position: relative;
  /* margin:5rem 0 0 0; */
}
.floating-circ{
  position: absolute;
  right:0%;
  top:2rem;
  width:7rem;
  height:7rem;
  border-radius: 10rem;
  background:var(--secondary-bg)
}
.banner-img img{
  width:70rem;
  object-fit: cover;
}

/* About */

.about{
  margin:6rem 0;
}
.about > h3, .contact > h3, .projects > h3, .comment-widget > h3{
  font-family: PointPanther, sans-serif;
  text-align: center;
}
.about > div{
  align-items: center;
  justify-content: center;
}
.about-right p{
  line-height:1.5rem;
  font-size:0.9rem;
}
.about-right{
  width:40%;
  padding:2%;
  margin:2rem 0;
}
.dev-widget{
  text-align:center;
}
.little-text-head{
  color:var(--tertiary-bg);
  font-size:25px;
}
.dev-widget img{
  width:30rem;
  height: 30rem;
  padding:2px;
  /* border:2px solid silver; */
  object-fit: cover;
  border-radius: 20px;
}
.dev-widget a {
  color:rgb(63, 63, 240);
}
.techArray{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-tracks: center;
  gap: 20px
}
.techArray-item{
  text-align: center;
}
.techArray-item div{
  background: #242424;
  border-radius:10px;
  /* width: 5.5rem; */
  padding: 50px 20px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  gap:30px;
  color: silver;
}

/* Projects */

.projects{
  margin-bottom:10rem;
  padding:2rem 10%;
  background-image: url('../public/black-bg.png');
}
.project-main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.project-lone{
  background: #191919;
  border-radius: 10px;
  padding-bottom: 30px;
}
.reversed {
  flex-direction:row-reverse;
}
.project-lone img {
  width:100%;
  height:15rem;
  object-fit: cover;
  filter:brightness(0.6);
  border-radius: 10px 10px 0 0;
}
.project-lone > div{
  width:100%;
  margin:1.5rem 0 0 0;
  padding: 0 10px;
}
.project-lone > div > div{
  padding:1% 2%;
  border-radius: 4px;
}
.project-lone p {
  font-size: 14px;
  line-height:1.5rem;
}
.project-lone button{
  padding: 1rem 5%;
}
.comment-widget{
  margin:3rem 0;
}
.comment-card{
  width: 40%;
  display: inline-block;
  margin:5%;
}
.comment-card .flex > div{
  width:75%;
}
.comment-card .flex{
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.comment-card .flex > img{
  width:4.5rem;
  height:4.5rem;
  padding:1%;
  border:2px solid var(--tertiary-bg);
  object-fit: cover;
  border-radius: 50%;
}
.comment-card .flex h4{
  color:var(--tertiary-bg)
}
.comment-card .flex p {
  font-size: 14px;
  line-height:1.5rem;
}
.contact{
  margin:10rem 10%;
  font-family:'Plus Jakarta Sans', sans-serif;
}
.contact h1{
  width:80%;
  font-size:3.5rem;
  line-height:5rem;
}

/* Footer Widget */
footer{
  margin:3rem 0 0 0;
  background:#101010;
  width:100%;
  padding:30px 10%;
}
footer > .flex, .footer-right > .flex{
  justify-content: space-between;
  align-items: center;
}
.footer-right > .flex{
  justify-content: flex-end;
}
.footer-left, .footer-center, .footer-right{
  padding:0% 2%;
  width:30%;
  text-align: center;
}
.footer-center h5 {
  margin:0 5%;
}
.social{
  width:35%;
  justify-content:flex-end;
  gap: 8px;
}
.footer h4{
  box-sizing: border-box;
  padding:0;
}
.footer-right button{
    width:63%;
}
.footer-right i{
  font-size:1.2rem;
}

.animation_widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  text-align: center;
  z-index: 100000;
}
